# dependencies
/node_modules

# backups
/backups

# assets
/artwork

# production
/.angular
/.editorconfig
/dist
/**/dist
/buildServer
/out
/assets
/patches

# misc
.DS_Store
.env
.idea
.vscode
.firebase
.gitlab
.github
.scannerwo`rk
yarn.lock
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# schematics
**/_templates
